:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-near-black: #1b1a18;
  --color-brand-gray: #78726c;
  --color-placeholder: #aaaaaa;
  --color-disabled-text: #c2bfbc;
  --color-disabled-bg: #f3f2f2;
  --color-red: #de0000;
}
