:root {
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --fs-xs: 0.625rem;
  --fs-sm: 0.75rem;
  --fs-md: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
}
