.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: var(--space-16);
  background-color: var(--color-white);
  margin-bottom: var(--space-24);

  @media (min-width: 768px) {
    padding: var(--space-40);
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.cartLink {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}
